.banner-area {
  background: linear-gradient(
      rgba(0, 0, 0, 0.678) 100%,
      rgba(0, 0, 0, 0.582) 100%
    ),
    url("https://i.ibb.co/Js3jKzJ/photo-1472214103451-9374bd1c798e.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
